# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Tests
.pytest_cache/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log